<!DOCTYPE html>
<html lang="en" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Enuma Technologies">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Landing page for Enuma Technologies Limited.">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Enuma Technologies - Full Spectrum Blockchain Engineering</title>
    <link rel="stylesheet" href="assets/css/bootstrap.bundle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" id="layoutstyle">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123531534-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123531534-1');
    </script>

</head>

<body class="theme-dark io-azure" data-spy="scroll" data-target="#mainnav" data-offset="80">
<header class="site-header is-sticky has-fixed">
    <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
        <nav class="container">
            <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
                <img class="logo logo-dark" alt="logo" src="images/logo.png" srcset="images/logo2x.png 2x">
                <img class="logo logo-light" alt="logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{{site.url}}/#intro" data-spy="scroll" data-target="#intro">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{{site.url}}/#expertise" data-spy="scroll" data-target="#expertise">Expertise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{{site.url}}/security.html#security" data-spy="scroll" data-target="#security">Security</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="{{site.url}}/#projects" data-spy="scroll" data-target="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="https://blog.enuma.io/">Blog</a>
                    </li>
                    <li class="nav-item contact-menu">
                        <a class="nav-link menu-link" href="{{site.url}}/#contact" data-spy="scroll" data-target="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% if page.jumbotron %}
    <div id="header" class="banner banner-full d-flex align-items-center">
        <div class="container">
            <div class="banner-content">
                <div class="row align-items-center mobile-center">
                    <div class="col-lg-8 col-md-12 order-lg-first">
                        <div class="header-txt">
                            <h1 class="animated" data-animate="fadeInUp" data-delay="1.55">
                                Enabling Global Blockchain
                                <br class="d-none d-xl-block">Initiatives with Expertise,
                                <br class="d-none d-xl-block">Dedication and Teamwork
                            </h1>
                            <ul class="btns animated" data-animate="fadeInUp" data-delay="1.75">
                                <li>
                                    <a href="#contact" class="btn btn-alt">Connect with us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-first res-m-bttm-lg">
                        <!-- <div class="header-image-alt animated" data-animate="fadeInRight" data-delay="1.25">
                            <img src="images/header-image-blue.png" alt="header">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <a href="#intro" class="scroll-down menu-link">SCROLL DOWN</a>
</header>

{{ content }}

<div class="section section-pad section-bg section-pro contact-section" id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-head-s2">
                    <h6 class="heading-xs animated" data-animate="fadeInUp" data-delay=".0">Contact Us</h6>
                    <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="gaps"></div>
                <p class="animated" data-animate="fadeInUp" data-delay="0">Any question? Reach out to us and we’ll get back to you shortly.</p>
                <ul class="contact-info-alt">
                    <li class="animated" data-animate="fadeInUp" data-delay=".15">
                        <em class="far fa-envelope"></em>
                        <span><a href="mailto:info@enuma.io" class="email">info@enuma.io</a></span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <form id="contactform" class="form-message text-left" role="form">
                    <div class="form-results"></div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".3">
                        <input name="name" id="name" type="text" class="input-line required">
                        <label class="input-title">Your Name</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                        <input name="emailid" id="emailid" type="email" class="input-line required email">
                        <label class="input-title">Your Email</label>
                    </div>
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                        <textarea name="message" id="message" class="txtarea input-line required"></textarea>
                        <label class="input-title">Your Message</label>
                    </div>
                    <input type="text" class="d-none" name="form-anti-honeypot" value="">
                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mask-ov-right mask-ov-s6"></div>
</div>

<div class="section footer-scetion footer-particle section-pad-sm section-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-4 res-l-bttm">
                <a class="footer-brand animated" data-animate="fadeInUp" data-delay="0" href="./">
                    <img class="logo logo-light footer-logo" alt="logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x">
                </a>
                <ul class="social">
                    <li class="animated" data-animate="fadeInUp" data-delay=".4">
                        <a href="https://www.linkedin.com/company/enuma-technologies/" target="_blank" rel="nooperner">
                            <em class="fab fa-linkedin-in"></em>
                        </a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".3">
                        <a href="https://github.com/enumatech" target="_blank" rel="nooperner">
                            <em class="fab fa-github"></em>
                        </a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".1">
                        <a href="https://www.facebook.com/enumatech" target="_blank" rel="nooperner">
                            <em class="fab fa-facebook"></em>
                        </a>
                    </li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".2">
                        <a href="https://twitter.com/enumatech" target="_blank" rel="nooperner">
                            <em class="fab fa-twitter"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-xl-4 res-l-bttm">
                <div class="address">
                    <h2>Hong Kong Office</h2>
                    <p>S705, Block A, PMQ
                        <br> 35 Aberdeen Street, Central,
                        <br> Hong Kong</p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="scrolloff">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.864116918104!2d114.14962581495439!3d22.283136585332496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404007b91e89847%3A0xeaadbfd96cb93e1a!2sEnuma+Technologies!5e0!3m2!1sen!2shk!4v1521280689174" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                    <span class="copyright-text animated" data-animate="fadeInUp" data-delay=".2">
                        Copyright &copy;2018, Enuma Technologies Limited. All rights reserved.
                    </span>
            </div>
            <div class="col-md-5 text-right mobile-left">
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
</div>

<button onclick="scrollTopFunction()" id="scrollTopBtn" title="Go to top">
    <em class="fas fa-caret-up"></em>
</button>

<!-- Modal -->
<div class="modal fade" id="thankyouModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close modalClose" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> Your email has been sent. We will reply as soon as possible.
        </div>
    </div>
</div>

<script src="assets/js/jquery.bundle.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/script.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
</body>

</html>
